/* http://www.menucool.com */

#sliderFrame, #sliderFrame div {
    box-sizing: content-box;
}
#sliderFrame 
{
    width:400px;
    margin:0 auto; /*center-aligned*/
}

#slider, #slider .sliderInner {
    width:100%;height:280px;/* Must be the same size as the slider images */
    border-radius:3px;
}

#slider {
    background-color:white;
    position:relative;
    margin:0 auto; /*center-aligned*/
    transform: translate3d(0,0,0);
    box-shadow: 0px 1px 5px #999999;
}
#slider img{
    width: 175%;
}
/* the link style (if an image is wrapped by a link) */
#slider a.imgLink, #slider .video {
    z-index:2;
    cursor:pointer;
    position:absolute;
    top:0px;left:0px;border:0;padding:0;margin:0;
    width:100%;height:100%;
}
#slider .video {
    background:transparent url(video.png) no-repeat 50% 50%;
}

div .sliderInner .mcSlc {
    background-size: cover;
    background-position: center;
}

div .sliderInner .mcBox {
    background-size: cover;
    background-position: center;
}